.content form {
  width: 30%;
  display: flex;
  align-items: center;
}

.content form input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #bbb;
  padding-left: 20px;
  font-weight: 600;
  font-size: 17px;
}

.content form button {
  margin-left: 8px;
  border: none;
  outline: none;
  font-weight: bold;
  background: green;
  color: #fff;
  font-size: 16px;
  padding: 14px 26px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.content form button:disabled {
  background: darkslategray;
  opacity: 0.5;
  pointer-events: none;
}

.content form button:hover {
  background: darkgreen;
}

@media only screen and (max-width: 768px) {
  .content form {
    width: 95%;
  }
}
